@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    background: url(...images/txture.jpg) no-repeat;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Merriweather', serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

*:after, *:before {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'helvetica' sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    position: fixed;
    z-index: 9000;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

/*Toggle Navigation*/

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
    margin: 0 auto;
	background: #a49841 url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #b7ba98;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
    width: 100%;
    text-align:center;
	color: #000;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #a49841;
}

/* Toggle Nav*/

.nav-top{
    display: none;
}

.nav-top[data-state="expanded"]{
    display: block;
}

nav ul {
    margin: 0 auto;
    text-align: center; 
}

nav ul li {
    display: block;
    padding: 0.6em 0 0 0;
    vertical-align: middle;
}

nav ul li a{
    text-decoration: none;
    list-style-type: none;
}
	
@media only screen and (min-width: 35em) {
    
    header {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9000;
    width: 100%;
    padding: 0.5em;
    }
	
	.nav {
		overflow: auto;	
	}

	.nav li {
		float: left;
		width: 20%;	
        vertical-align: middle;
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;	
	}
	
	.nav-top{
		display: block;
	}
	
}
/* toggle navigation ends*/

ul {
    margin: 0 auto;
    text-align: center; 
}

ul li {
    display: block;
    padding: 0.2em;
}

ul li a{
    text-decoration: none;
    list-style-type: none;
}

.facts {
    padding: 1em 0 1em 0;
}

.facts ul {
    margin: 0 auto;
    text-align: left; 
}

.facts ul li {
    display: inline-block;
    padding: 1em 3em 1em 0;
}

.logo {
    position: relative;
    top: -0.6em;
    width: 40px;
    height: 40px;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 4em;
    line-height: 1em;
    font-weight: 200;
    text-transform: uppercase;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 200;
    text-transform: uppercase;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 200;
    text-transform: uppercase;
}

h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 200;
    text-transform: uppercase;
}

h5 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 200;
    text-transform: uppercase;
}

p {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6em;
    padding: 0.5em 0 0.5em 0;
}

.p-big {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.6em;
}

@media only screen and (max-width: 55em) {
    
    h1 {
        font-size: 3em;
        line-height: 1em;
        text-transform: uppercase;
    }
	
}

.flex-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: #848484;
}

a:link {
    color: #848484;
}

a:hover {
    color: #848484;
    transition: ease-in-out 300ms;
}

a:active {
    color: #957200;
}

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff; 
    background: #000;
}

.banner {
    padding-top: 4em;
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.banner-text {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    background: rgba(164, 152, 65, 0.3);
    padding: 3em;
    margin: 0 2em 0 2em;;
}
.banner-text h1 {
    text-align: center;
    font-size: 6em;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.6em;
}

.about {
    margin: 4rem 12% 4rem 12%;
}

.about-img {
    max-width: 50%;
    padding: 0 0 0 2em;
}

.replace-title {
    height: 4em;
    overflow: hidden;
    top: 10em;
}

.replace-title:hover {
    top: -10px;
    color: red;
}

.folio {
    position: relative;
    overflow: hidden;
}

.folio-info {
    text-align: center;
    padding: 1em;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    bottom: 0;
    opacity: 0;
    background-color: #000;
    -webkit-transition: all 1s ease;
}

.folio:hover .folio-info {
    top: 0%;
    opacity: 1;
}

.contact {
    background-color: #000;
    line-height: 1.2em;
    padding: 3em;
}

.contact p {
    color: #fff;
    text-align: center;
    line-height: 1.3em;
    margin: 0 10% 0 10%;
    
}

.contact ul {
    text-align: center;
    padding: 1em;
}

.contact ul li {
    display: inline-block;
    padding: 0 0.2em;
}

.quote {
    background-image: url(http://lorempixel.com/g/1800/300);
    
    font-size: 3em;
    text-align: center;
}

.quote p {
    padding: 2em;
    color: #fff;
    font-weight: 800;
    background-color:  rgba(42, 39, 14, 0.9);
}

.piece {
    padding-top: 4.5em;
}

.piece-nav {
    width: 50px;
}
.piece-text {
    padding: 2em 4em 2em 4em;
}

.piece-text-border {
    border-left: solid;
    padding: 2em 4em 2em 2em;
}

@media only screen and (max-width: 35em) {
    
    .piece-text {
        padding: 2em 2em 2em 2em;
    }

    .piece-text-border {
        text-align: center;
        border-left: none;
        padding: 0 0 2em 2em;
    }
    
    .piece-text-border img {
        padding: 1em;
    }
}