@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    background: url(../images/texture.jpg) no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Merriweather', serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

*:after, *:before {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Special Elite' sans-serif;
    font-size: 1em;
    letter-spacing: 0.2em;
    position: fixed;
    z-index: 9000;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

/*Toggle Navigation*/

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
    margin: 0 auto;
	background: #a49841 url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #b7ba98;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
    width: 100%;
    text-align: center;
	color: #000;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #a49841;
}

/* Toggle Nav*/

.nav-top{
    display: none;
}

.nav-top[data-state="expanded"]{
    display: block;
}

nav ul {
    margin: 0 auto;
    text-align: center; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

nav ul li {
    display: block;
    padding: 1.9em 0 0 0;
    line-height: 1;
}

nav ul li a{
    text-decoration: none;
    list-style-type: none;
}
	
@media only screen and (min-width: 35em) {
    
    header {
        position: fixed;
        padding: 0.5em;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);      
    }
	
	.nav {
		overflow: auto;	
	}

	.nav li {
		float: left;
		width: 20%;	
        vertical-align: middle;
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;	
	}
	
	.nav-top{
		display: block;
	}
	
}
/* toggle navigation ends*/

ul {
    margin: 0 auto;
    text-align: center; 
}

ul li {
    display: block;
    padding: 0.2em;
}

ul li a{
    text-decoration: none;
    list-style-type: none;
}

hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1));
    background-color: #a49841;
    width: 20%;
    margin: auto;
}

.explore {
    background: transparent url(../images/explore.jpg) no-repeat center center;
    background-size: cover;
}

.human {
    background: transparent url(../images/humanbg.jpg) no-repeat center center;
    background-size: cover;
}

.facts {
    background-color: rgba(164, 152, 65, 0.8);
    color: #000;
    padding: 6em 0 6em 0;
    text-align: center;
}

.facts-list {
    position: relative;
    color: #fff;
    height: 8em;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.facts-outside {
    width: 100%;
    position: absolute;
    display: inline-block;
    height: 100%;
    font-size: 2em;
    left: 0;
    right: 0;
    top: 8rem;
    -webkit-animation: facts 500ms linear forwards;
    animation: facts 500ms linear forwards;
}

.facts-outside:last-child {
    padding: 0;
}

.facts-inside {
    -webkit-animation: facts-2 300ms linear forwards;
    animation: facts-2 300ms linear forwards;
}

@-webkit-keyframes facts {
    from {
        top: 8rem;}
        
    to {
        top: 0rem}
}

@-webkit-keyframes facts-2 {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-8rem)}
}

.facts-outside:nth-child(1) {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.facts-inside:nth-child(1) {
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms;
}

.facts-inside:nth-child(2) {
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}

.facts-outside:nth-child(2) {
    -webkit-animation-delay: 5500ms;
    animation-delay: 5500ms;
}

.facts-inside:nth-child(2) {
    -webkit-animation-delay: 5s;
    animation-delay: 8000ms;
}

.facts-outside:nth-child(3) {
    -webkit-animation-delay: 9500ms;
    animation-delay: 9500ms;
}

.facts-inside:nth-child(3) {
    -webkit-animation-delay: 11000ms;
    animation-delay: 11000ms;
}

.facts-outside:nth-child(4) {
    -webkit-animation-delay: 12500ms;
    animation-delay: 12500ms;
}

.facts-inside:nth-child(4) {
    -webkit-animation-delay: 1400ms;
    animation-delay: 1400ms;
}

/*
@-webkit-keyframes facts {
    from {
        -webkit-transform: translateY(0rem);}
        
    to {
        -webkit-transform: translateY(-6rem);}
}

@-webkit-keyframes facts-2 {
    from {
        -webkit-transform: translateY(-6rem);}
        
    to {
        -webkit-transform: translateY(-12rem);}
}

@-webkit-keyframes facts-3 {
    from {
        -webkit-transform: translateY(-12rem);}
        
    to {
        -webkit-transform: translateY(-18rem);}
}

@-webkit-keyframes facts-4 {
    from {
        -webkit-transform: translateY(-18rem);}
        
    to {
        -webkit-transform: translateY(-24rem);}
}
*/
@media only screen and (max-width: 55em) {
    .facts {
        padding: 5em 10% 3em 10%;
    }
    
    .facts ul { 
        height: 4em;
        overflow: hidden;
    }
    
    .facts ul li {
        font-size: 2em;
        padding: 0.5em 0 0.9em 0;
    }
}

.logo {
    position: relative;
    top: -1em;
    width: 40px;
    height: 40px;
}

h1 {
    font-family: 'Special Elite', sans-serif;
    font-size: 3em;
    line-height: 1.4em;
}

h2 {
    font-family: 'Special Elite', sans-serif;
    font-size: 2em;
    line-height: 1.4em;
}

h3 {
    font-family: 'Special Elite', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
}

h4 {
    font-family: 'Special Elite', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
}

h5 {
    font-family: 'Special Elite', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #a49841;
}

p {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.7em;
    padding: 0.7em 0 0.7em 0;
}

.p-big {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.7em;
}

@media only screen and (max-width: 30em) {
    
    h1 {
        text-align: center;
        font-size: 2em;
    }
	
    h2 {
        text-align: center;
        font-size: 1.8em;
    }

    h3 {
        text-align: center;
        font-size: 1.5em;
    }

    h4 {
        text-align: center;
        font-size: 1.2em;
    }

    h5 {
        text-align: center;
        font-size: 1em;
    }

    p {
        text-align: center;
        font-size: 1em;
    }

    .p-big {
        text-align: center;
        font-size: 1.2em;
    }
}

.flex-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: #848484;
}

a:link {
    color: #848484;
}

a:hover {
    color: #848484;
    transition: ease-in-out 200ms;
}

a:active {
    color: #957200;
}

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff; 
    background: #000;
}

.banner {
    padding-top: 5.75em;
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.banner-text {
    padding: 0 20em 0 6em;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.banner-text h1 {
    text-align: left;
    line-height: 1em;
    font-size: 8em;
    color: #fff;
    font-weight: 200;
}

@media only screen and (max-width: 70em) {
    
    .banner-text {
    top: 40%;
    }
    
   .banner-text h1 {
    font-size: 6em;
   }
} 

@media only screen and (max-width: 50em) {
    
    .banner-text {
    top: 40%;
    }
    
   .banner-text h1 {
    font-size: 5em;
   }
} 

@media only screen and (max-width: 42em) {
    
    .banner-text {
        padding: 0 20em 0 3em;
        top: 55%;
    }
    
   .banner-text h1 {
        font-size: 4em;
   }
} 

.about {
    margin: 4rem 12% 4rem 12%;
}

.about-img {
    max-width: 50%;
    padding: 0 0 0 2em;
}

.folio {
    position: relative;
    overflow: hidden;
}

.folio-info {
    text-align: center;
    padding: 45% 0 50% 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: ;
    bottom: 0;
    opacity: 0;
    color: #a49841;
    background-color: rgba(0, 0, 0, 1);
    -webkit-transition: all 400ms ease;
}

.folio:hover .folio-info {
    opacity: 1;
}

.folio h2 {
    color: #fff; 
    font-size: 1.7em;
    font-weight: 400;
    margin: 0 2.5em 0 2.5em;
}

.folio ul li {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 0.5em;
    
}

.contact {
    background-color: #fff;
    background: url(../images/contact.jpg) no-repeat center center;
    background-size: cover;
    line-height: 1.2em;
    padding: 3em 0 3em 0;
}

.contact p {
    color: #000;
    text-align: center;
    line-height: 1.3em;
    padding: 0 0 0 0;
    
}

.contact ul {
    text-align: center;
    padding: 1em;
}

.contact ul li {
    width: 60px;
    display: inline-block;
    padding: 0 0.2em;
}

.quote {
    background: url(../images/quotebg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}

.quote p {
    font-size: 3em;
    padding: 2em;
    color: #fff;
    font-weight: 200;
    background-color:  rgba(23, 22, 19, 0.9);
}

.quote-section {
    background: transparent url(../images/contact.jpg) no-repeat center center;
    background-size: cover;
}

.piece {
    padding-top: 4.5em;
}

.piece-nav {
    text-align: center;
    margin: 0  1em 1em 0;
}

.piece-text {
    background-color: #fff;
    color: #000;
    padding: 6em 10em 6em 10em;
    border-bottom: solid 2px;
    border-right: solid 1px;
}

.piece-text-border {
    background-color: #fff;
    color: #000;
    padding: 6em 2em 6em 2em;
    border-left: solid 1px;
    border-bottom: solid 2px;
}

.piece-text-border a {
    color: #a49841;
    border-bottom: solid 2px #a49841;
}

.piece-text-border a:hover {
    border-bottom: solid 10px #a49841;
    transition: ease-in-out 300ms;
}

.piece-text-border img {
    width: 40px;
}

@media only screen and (max-width: 40em) {
    .quote p {
        font-size: 2em;
        padding: 3em 1em 3em 1em;
        color: #fff;
        font-weight: 200;
        background-color:  rgba(23, 22, 19, 0.9);
    }
    
    .piece-text {
        padding: 2em 2em 0 2em;
        border-right: none;
    }

    .piece-text-border {
        text-align: center;
        border: none;
    }
    
    .piece-text-border ul {
    text-align: center;
    }
    
    .piece-text-border {
        padding: 2em 0 2em 0;
    }
}