@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

*:after, *:before {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.48) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.48))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7affffff',GradientType=0 ); /* IE6-9 */
    z-index: 9000;
    width: 100%;
}

ul {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    padding: 0.1em 4em 0.1em 4em;
    vertical-align: middle;
}

ul li a{
    text-decoration: none;
    list-style-type: none;
}

body  {
}

header {
    
}

h1 {
   font-size: 5em;
    line-height: 1em;
    text-transform: uppercase;
}

h2 {
    font-size: 3em;
    text-align: center;
    line-height: 1.1em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    text-transform: uppercase;
}

h4 {
    font-size: 1.2em;
    line-height: 1.4em;
    text-transform: uppercase;
}

h5 {
    font-size: 1em;
    line-height: 1.4em;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
    padding: 1em 0 1em 0;
}

.p-big {
    font-size: 1.6em;
}

.flex-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: #848484;
}

a:link {
    color: #848484;
}

a:hover {
    color: #848484;
    transition: ease-in-out 300ms;
}

a:active {
    color: #957200;
}

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff; 
    background: #000;
}

.banner {
    position: relative;
}

.banner img {
    display: block;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.banner h2 {
    position: absolute;
    text-align: center;
    color: #fff;
    top:45%;
    right: 0;
    left: 0;
}

.about {
    text-align: center;
    margin: 4rem 5% 4rem 5%;
}

.folio {
    position: relative;
    overflow: hidden;
}

.folio-info {
    text-align: center;
    padding: 1em;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    bottom: 0;
    opacity: 0;
    background-color: #000;
    -webkit-transition: all 1s ease;
}

.folio:hover .folio-info {
    top: 0%;
    opacity: 1;
}

.contact {
    position: absolute;
    font-size: 2em;
    line-height: 1.2em;
}

.quote-con {
    position: absolute;
    text-align: left;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    text-shadow: rgba(0, 0, 0, 0.6) 0 2px 2px;
}

.quote {
    font-size: 2em;
    text-align: center;
}